#IMPORTANT: The scanner will overwrite the config file, to save the actual index.
#           Create a new copy of this file!

# Log to scan by name.
# From: https://github.com/elmasy-com/go-ctstream/blob/main/logs.go
LogName: 

# MongoDB URI to connect to
MongoURI: 

# UptimeHook is called every 60 second (if not empty) to indicate, that the scanner is running
UptimeHook: 

# --- Advanced ---

# Number of concurrent worker to insert the result to the database. (default: 2)
InsertWorkers: 40

# Number of concurrent worker to fetch the log. (default: 2)
FetcherWorker: 2

# Path to the file to get/save index.
IndexFile: scanner.index

# Skip precertificates (default: false)
SkipPreCert: false

# Verbose logging (default: false)
Verbose: false