#IMPORTANT: The scanner will overwrite the config file, to save the actual index.
#           Create a new copy of this file!

# URI to scan
LogURI: 

# MongoDB URI to connect to
MongoURI: 

# UptimeHook is called every 60 second (if not empty) to indicate, that the scanner is running
UptimeHook: 

# --- Advanced ---

# Number of concurrent matchers. (default: 2)
NumWorkers: 2

# Max number of entries to request at per call to get-entries. (default: 1000)
BatchSize: 1000

# Number of concurrent GetEntries fetches. (default: 2)
ParallelFetch: 2

# Start index of the logs (default: 0)
StartIndex: 0

# Buffer size to store fetched certs (default: 5000)
BufferSize: 5000

# Skip precertificates (default: false)
SkipPreCert: false

# Verbose logging (default: false)
Verbose: false